<!DOCTYPE html>
<html>
<head>
	<title>FixNix GRC</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	 <link rel="stylesheet" type="text/css" href="stylesheet//fullcalendar/fullcalendar.css">
	 <script type="text/javascript" src = "/fullcalendar/fullcalendar.js"></script>
	 <script type="text/javascript" src="/font-awesome/font-awesome.css"></script>
	 <script type="text/javascript" src="/font-awesome/css/font-awesome.min.css"></script>
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
     <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
     <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
     <link rel="stylesheet" href="/resources/demos/style.css">
     <link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css"/ >
     <script src="jquery.js"></script>
     <script src="/js/jquery.datetimepicker.js"></script>
     <link rel="stylesheet" type="text/css" href="/stylesheet/jquery.datetimepicker.css"/>
</head>
<body>
	<%= yield %>
</body>
</html>
